.img-container {
    display: flex;
}

.img-profile {
    border-radius: 50%;
    max-width: 30%;
}

@media (min-height: 1200px) {
    .img-profile {
        max-width: 100%;
    }
  }

.icon-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    margin: 0;
}

.icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
}

.thesis-part {
    font-size: 1.25rem;
}

.publication > p {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.pub-title {
    font-size: 1rem;
}

.pub-authors {
    font-style: italic;
}

.pub-list {
    font-size: 0.85rem;
}


.tilebox {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-between;*/
    padding-bottom: 15px;
}

.tilebox > a {
    color: #202020;
}

.tile {
    padding: 5px;
    margin: 5px;

    outline: 1px solid;
    border-radius: 5px;
    
    text-align: center;
    height: 150px;
    width: 180px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tile:hover {
    box-shadow: 0 0 15px 5px rgba(105, 105, 105, 0.6);
    transition: 0.3s;
    text-decoration: none;
}

.tile > h3 {
    font-style: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.tile > span {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.tile-icon {
    height: 30px;
    width: 30px;
}