.img-profile {
    border-radius: 50%;
}

.icon-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    margin: 0;
}

.icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
}

.thesis-part {
    font-size: 1.25rem;
}

.publication > p {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.pub-title {
    font-size: 1rem;
}

.pub-authors {
    font-style: italic;
}